@import "../../global.scss";

.portfolio {
  color: $secondaryColor;
  // min-height: 90vh;
  width: 100%;
  padding: $mobilePadding;
  text-align: center;

  @include midTab {
    padding: $sectionPadding;
  }

  & .header {
    & h2 {
      font-size: 3.5rem;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .categories {
      margin: 4rem 0;
      width: 70%;
      & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & li {
          font-size: 2rem;
          margin: 0 5%;
          margin-bottom: 1rem;
          font-weight: 700;
          text-transform: capitalize;
          padding: 0.5rem 1.2rem;
          border-radius: 1rem;
          cursor: pointer;

          &.active {
            background-color: $secondaryColor;
            color: $mainColor;
          }
        }
      }
    }

    & .projects {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include midTab {
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }
}
