@import "../../global.scss";

.intro {
  color: $secondaryColor;
  height: 90vh;
  width: 100%;
  padding: $mobilePadding;
  @include flex-center;
  flex-direction: column;

  @include largeTab {
    padding: $sectionPadding;
    flex-direction: row;
  }

  & .left {
    // background: pink;
    flex: 0.5;
    width: 100%;
    @include flex-center;

    & .img-container {
      width: 75%;
      padding-bottom: 75%;
      height: 0;
      background: $highlight;
      border-radius: 50%;
      @include flex-center;
      position: relative;
      overflow: hidden;

      @include smallTab {
        width: 60%;
        padding-bottom: 60%;
      }

      @include largeTab {
        width: 75%;
        padding-bottom: 75%;
      }

      & img {
        width: 90%;
        position: absolute;
        bottom: 5%;
      }
    }
  }

  & .right {
    flex: 0.5;
    width: 100%;
    @include flex-center;
    // height: 100%;

    & .container {
      text-align: center;
      display: flex;
      flex-direction: column;
      @include largeTab {
        text-align: left;
      }

      & h3 {
        font-size: 2rem;

        @include midTab {
          font-size: 2rem;
        }
        @include largeTab {
          font-size: 2.4rem;
        }
      }

      & h1 {
        font-size: 3rem;
        margin: 1.3% 0;

        @include midTab {
          font-size: 4rem;
        }
        @include largeTab {
          font-size: 4.7rem;
        }
      }

      & h2 {
        font-size: 2rem;
        @include midTab {
          font-size: 2rem;
        }
        @include largeTab {
          font-size: 2.4rem;
        }

        & span {
          color: $highlight;
        }
        & .ityped-cursor {
          opacity: 1;
          animation: cursor 0.9s linear infinite;
        }

        @keyframes cursor {
          100% {
            opacity: 0;
          }
        }
      }
    }
  }
}
