@import "./global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $bodyFont;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include smallTab {
    font-size: 66%;
  }

  @include smallPc {
    font-size: 66%;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
